---
// Componente: Sección de comentarios Disqus
// Integra el sistema de comentarios Disqus en la página
---

<section id="comentarios" class="seccion-comentarios">
	<h2>Comentarios</h2>
	<!-- Bloque de código embebido de Disqus -->
	<div id="disqus_thread"></div>
	<noscript>
		Por favor, habilita JavaScript para ver los comentarios.
		<a href="https://disqus.com/?ref_noscript">Comentarios powered by Disqus</a>
	</noscript>
</section>

